/* Figma Styles of your File */
:root {
  /* Colors */
  --cyan-200: #9eeaf9;
  --back-gray: #f8f9fe;
  --cyan-link: #087990;
  --red-danger: #dc3545;
  --gray-disabled: #6c757d;

  /* Fonts */
  --text-font-family: Inter-Regular, sans-serif;
  --text-font-size: 20px;
  --text-line-height: 30px;
  --text-font-weight: 400;
  --text-font-style: normal;

  /* Effects */
}
